<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container mt-4">
        <h2 class="text-center mb-4">Complet Task</h2>

        <% if (data.length !==0) { %>
            <div class="row">
                <% data.forEach((value)=> { %>
                    <div class="col-md-4">
                        <div class="card shadow-sm mb-4">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">
                                    <%= value.task %>
                                </h5>
                                <p class="card-text"><strong>Description:</strong>
                                    <%= value.description %>
                                </p>
                                <p class="card-text"><strong>Date:</strong>
                                    <%= value.date %>
                                </p>
                                <p class="card-text"><strong>Priority:</strong>
                                    <%= value.priorityId %>
                                </p>
                                <p class="card-text"><strong>Status:</strong>
                                    <%= value.status %>
                                </p>

                                <div class="d-flex justify-content-between">
                                    <a href="/task/edit-status/<%= value.id %>" class="btn btn-danger btn-sm">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <% } else { %>
                <h4 class="text-center text-muted">No Tasks Available</h4>
                <% } %>

                    <div class="text-center mt-4">
                        <a href="/task/create-task" class="btn btn-success btn-lg">Create New Task</a>
                    </div>
    </div>
</body>

</html>