<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if(userModel !="" ){ %>
        <% userModel.forEach((userModel, index)=> { %>
            <h3>Name : <%= userModel.name %>
            </h3>
            <h3>Email : <%= userModel.email %>
            </h3>
            <h3>Password : <%= userModel.password %>
            </h3>
            <a style="color: rgb(61, 120, 32); font-size: 30px;" href="/create">add User</a>
            <br>
            <a style="color: rgb(22, 35, 173); font-size: 30px;" href="/edit/<%= userModel._id %>">Update</a>
            <br>
            <a style="color: rgb(204, 0, 0); font-size: 30px;" href="/delete/<%= userModel._id %>">Delete</a>
            <hr>
            <% }) } else { %>
                <a style="color: rgb(61, 120, 32); font-size: 30px;" href="/create">add User</a>
                <% }%>
</body>

</html>