<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%-include("__bootstrap.ejs")%>
        <style>
            .task-card:hover {
                transform: translateY(-5px);
                box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.2) !important;
            }

            .task-card {
                transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            }
        </style>
</head>

<body style="background-color:rgb(132, 207, 182);">
    <%- include("__header.ejs")%>
        <% if (Array.isArray(data) && data.length> 0) { %>
            <div class="d-flex flex-wrap  md-2 container-fluid mt-4 p-4">
                <% for(let unit of data){ %>
                    <div class="task-card m-3 mb-4"
                        style="min-height: 60%; width: 30%; box-shadow: 5px 5px 5px 5px grey">
                        <div
                            class="bg-<%= unit.priorityId === 'high' ? 'danger' : unit.priorityId === 'mid' ? 'warning' : unit.priorityId === 'low' ? 'success' : 'primary' %> text-dark text-center p-2 fw-bold">
                            <%= unit.date %>
                        </div>
                        <div class="p-3">
                            <div class="fw-bold">Task title :</div>
                            <div class="mb-2">
                                <%= unit.title %>
                            </div>
                            <div class="text-wrap">
                                <b>Description : </b>
                                <br />
                                <span>
                                    <%= unit.description %>
                                </span>
                            </div>
                            <div class="text-wrap">
                                <b>Name : </b>
                                <br />
                                <span>
                                    <%= unit.name %>
                                </span>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <button disabled class="btn btn-danger  m-1">Completed</button>
                        </div>
                    </div>
                    <%}%>
            </div>
            <%} else { %>
                <div style="display: flex; justify-content: center; align-items: center; margin-top: 15%;">
                    <h4 class="text-center text-muted">No Tasks Available</h4>
                </div>
                <% } %>
</body>

</html>