<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if (users !="" ) { %>
        <h1>Your Details</h1>
        <table>
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((user, index)=> { %>
                    <tr>
                        <td>
                            <%= index + 1 %>
                        </td>
                        <td>
                            <%= user.name %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <a href="/edit/<%= user._id %>">Update</a>
                            <a href="/delete/<%= user._id %>">Delete</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <% } else {%>
            <H1>No user Find</H1>
            <a style="color: blue;font-size: 40px; " href="/register">Add User</a>
            <% } %>
</body>

</html>